<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MyWeddingSystem-20160512083042.mdf;Initial Catalog=aspnet-MyWeddingSystem-20160512083042;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="MyWedding" connectionString="Server=.;Database=MyWedding;user=sa;password=teste123" providerName="System.Data.SqlClient" />-->
   <add name="MyWedding" connectionString="server=localhost;User Id=sa;Persist Security Info=True;database=mywedding;password=teste123" providerName="MySql.Data.MySqlClient" />
    <!--<add name="MyWedding" connectionString="server=mywedding.mysql.dbaas.com.br;User Id=mywedding;Persist Security Info=True;database=mywedding;password=teste123" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DEADLINE" value="31/12/2016 23:59:59" />
    <add key="MAILTO" value="guigovedovato@gmail.com" />
    <add key="DEVELOPER" value="Guigo Vedovato" />
    <add key="WHO" value="Vanessa e Rodrigo" />
    <add key="WEDDINGDATE" value="11 de Março de 2017" />

    <!-- TRANSLATE AREA -->
    <!-- Menu -->
    <add key="HOME" value="Home" />
    <add key="GUESTLIST" value="Lista de Convidados" />
    <add key="ATTENDANCE" value="Confirmar Presença" />
    <add key="PHOTO" value="Fotos" />
    <add key="LOCAL" value="Local da Festa" />
    <add key="USER" value="Usuários" />
    <add key="LOG" value="Log" />
    <add key="LOGOUT" value="Sair" />

    <!-- Front-End -->
    <add key="BACKTOLIST" value="Voltar" />
    <add key="PRINT" value="Imprimir" />
    <add key="NEW" value="Novo" />
    <add key="REGISTER" value="Cadastrar" />
    <add key="ENTER" value="Entrar" />
    <add key="SEARCH" value="Buscar" />
    <add key="CONFIRM" value="Confirmar" />
    <add key="GUESTTYPE" value="Lista de Convidados" />
    <add key="LOGTYPE" value="Lista de Logs" />
    <add key="USERTYPE" value="Lista de Usuários" />
    
    <!-- Messages -->
    <add key="LOGINANDPASS" value="Digite o login e senha." />
    <add key="LOGININVALID" value="Login ou senha inválido!" />
    <add key="FORMINVALID" value="Houve um erro ao submeter o formulário!" />
    
    <!-- Pages -->
    <add key="LOGUINPAGE" value="Login Page" />
    <add key="UNAUTHORIZEDPAGE" value="Unauthorized Page" />
    <add key="HOMEPAGE" value="Home Page" />
    <add key="GUESTPAGE" value="Guest Page" />
    <add key="USERPAGE" value="User Page" />
    <add key="LOGPAGE" value="Log Page" />
    <add key="PHOTOPAGE" value="Photo Page" />
    <add key="LOCALPAGE" value="Local Page" />

    <!-- Errors -->
    <add key="LOGINERROR" value="Erro ao fazer Login!" />
    <add key="LOGPAGEERROR" value="Erro ao acessar página de Log!" />
    <add key="LOGBYIDERROR" value="Erro ao consultar log {0}" />
    <add key="LOGBYUSERIDERROR" value="Erro ao consultar log do usuário {0}" />
    <add key="USERPAGEERROR" value="Erro ao acessar página de Usuário!" />
    <add key="USERBYIDERROR" value="Erro ao consultar usuário {0}" />
    <add key="USERINSERTERROR" value="Erro ao criar o usuário {0}" />
    <add key="USERINACTIVATEERROR" value="Erro ao inativar o usuário {0}" />
    <add key="USERPRINT" value="Erro ao imprimir!" />
    <add key="USERALREADYINSERTED" value="Usuário já cadastrado!" />
    <add key="GUESTPAGEERROR" value="Erro ao acessar página de Convidados!" />
    <add key="GUESTBYIDERROR" value="Erro ao consultar convidado {0}" />
    <add key="GUESTINSERTERROR" value="Erro ao confirmar presença!" />
    
    <!-- Display -->
    <add key="GUESTQUANTITY" value="Digite a quantidade de pessoas, incluindo o(s) titular(res) do convite:" />
    <add key="ISREQUIRED" value="Esse campo é obrigatório!" />
    <add key="USERNAME" value="Nome do Usuário:" />
    <add key="USERLOGIN" value="Login do Usuário:" />
    <add key="CONFIRMED" value="Confirmar Presença" />
    <add key="QUANTITY" value="Quantidade de Convidados:" />
    
  </appSettings>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Logon/Unauthorized">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="RoleCookie" cookiePath="/" cookieTimeout="20" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All" defaultProvider="CustomRoleProvider">
      <providers>
        <add name="CustomRoleProvider" type="MyWeddingSystem.Providers.CustomRoleProvider" connectionStringName="MyWedding" />
      </providers>
    </roleManager>
    <profile enabled="false">
      <providers>
        <clear />
      </providers>
    </profile>
    <authentication mode="Forms">
      <forms loginUrl="~/Logon/Login" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <allow roles="ADM, LOGGED" />
      <deny users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
    </DbProviderFactories>
  </system.data></configuration>