@{
    var AuthUser = Session["AuthUser"] as MyWeddingSystem.Models.ViewModel.UserView;
}
<!-- Main -->
<section id="main" class="container">
    <section class="box special">
        <header class="major">
            <h2>
                Também está ansioso(a) <b>@AuthUser.Name</b>?
                <br />
                Veja a localização da nossa celebração.
            </h2>
        </header>
    </section>

    <div class="box">
        <div><b style="font-size:larger">Chácara Pé na Rocha</b><br />
            Engenho Velho - Estrada que liga Mogi Guaçu a Pinhal. Próximo à Igreja Santa Rita, <br />
            13840-000 Mogi-Guaçu, São Paulo, Brazil.
        </div>
        <a href="https://www.facebook.com/chacarapenarocha" class="icon fa-facebook"><span class="label">Facebook</span></a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.332194475738!2d-46.9086615854233!3d-22.303272985322053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c85154c7883051%3A0x17a454ad3cc8174!2sChacara+p%C3%A9+na+Rocha!5e0!3m2!1sen!2sbr!4v1474580423224" width="936" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>