<!-- Main -->
<section id="main" class="container">
    <section class="box special">
        <header class="major">
            <h2>
                Cadastro de Usuário
                <br />
                Somente Login e Nome serão necessários.
            </h2>
        </header>
    </section>
    @Html.Partial("~/Views/User/UserForm.cshtml")
</section>


