<!-- Main -->
<section id="main" class="container">
    <section class="box special">
        <header class="major">
            <h2>
                Usuário <b>@ViewBag.UserName</b>.
                <br />
                Inserido com Sucesso.
            </h2>
        </header>
    </section>
    @Html.Partial("~/Views/User/UserForm.cshtml")
</section>



